{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <h2>Список заданий</h2>
        <div class="col-md-12">
          <h4>Задание № 20</h4>
          <p>Найдите производителей, выпускающих по меньшей мере три различных модели ПК.
          Вывести: Maker, число моделей ПК.</p>
          <p><a class="btn btn-primary" href="{% url "app:pc_markers" %}" role="button">Показать</a></p>
        </div>

        <div class="col-md-12">
          <h4>Задание № 24</h4>
          <p>Перечислите номера моделей любых типов, имеющих самую высокую цену по всей
           имеющейся в базе данных продукции.</p>
          <p><a class="btn btn-primary" href="{% url "app:hightest_price" %}" role="button">Показать</a></p>
        </div>

        <div class="col-md-12">
          <h4>Задание № 58</h4>
          <p>Для каждого типа продукции и каждого производителя из таблицы Product c точностью
          до двух десятичных знаков найти процентное отношение числа моделей данного типа данного
          производителя к общему числу моделей этого производителя. Вывод: maker, type, процентное
          отношение числа моделей данного типа к общему числу моделей производителя</p>
          <p><a class="btn btn-primary" href="{% url "app:product_rate" %}" role="button">Показать</a></p>
        </div>

        <div class="col-md-12">
          <h4>Задание № 85</h4>
          <p>Найти производителей, которые выпускают только принтеры или только PC.
          При этом искомые производители PC должны выпускать не менее 3 моделей.</p>
          <p><a class="btn btn-primary" href="{% url "app:one_type_markers" %}" role="button">Показать</a></p>
        </div>

    </div>
{% endblock content %}